body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.seeDetails{
    display:block;
}


.body_dark {
    background-color: #333333;
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.title-dark {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.button-dark {
    border-radius: 0;
    font-size: 1.5rem;
    padding: 12px 50px;
    background: transparent;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
}

    .button-dark:hover,
    .button-dark:focus {
        background: #CCCCCC;
        color: #333333;
    }